/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.brand-sidebar {
    background: inherit;
}

.brand-sidebar .brand-logo {
    color: white;
}

.sidenav {
    font-family: 'Muli', sans-serif;
}

.sidenav li a.active {
    color: white;
}

.sidenav li>a>svg {
    margin: 0 20px 0 0;
    width: 22px !important;
    color: rgba(0,0,0,.54);
    height: 18px;
}

.sidenav li a.active i, .sidenav li a.active svg {
    color: #fff;
}

.brand-sidebar span.logo-text {
    font-family: Muli, sans-serif;
}

.userMenu li {
    padding: 14px 24px;
    font-size: 16px;
    line-height: 22px;
    display: block;
    color: #757575!important;
}

.userMenu li svg {
    width: 14px !important;
}

.bugs, .fishes {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mosaique {
    width: 160px;
    padding: 5px;
}

.mosaique .fond {
    background: url('https://www.animalcrossing-online.com/img/fond.png');
    text-align: center;
}

.mosaique .fond img {
    height: 56px;
    margin-top: 4px;
}

.mosaique .name2 {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.bugs svg, .fishes svg {
    width: 12px !important;
}